/.env
/praw.ini
/model/*/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/simple-bot-gpt2.iml
/.idea/vcs.xml
/cache_dir/
/build/*
/simple_bot_gpt2.egg-info/*
/config.ini
/venv/
/foo.py
/sexy_diffusion.egg-info/dependency_links.txt
/sexy_diffusion.egg-info/PKG-INFO
/sexy_diffusion.egg-info/entry_points.txt
/sexy_diffusion.egg-info/SOURCES.txt
/sexy_diffusion.egg-info/top_level.txt
